<template>
  <div class="property-card">
    <div class="photo-container">
        <img class="card-image" :src="property.images[0]" />
        <div class="photo-counter">1/{{property.images.length}}</div>
    </div>
    <DetailsArea class="details" :property="property" />
    <PricingArea class="pricing" :property="property" />
  </div>
</template>


<script>

import { mapState, mapActions } from 'vuex'
import DetailsArea from './DetailsArea.vue';
import PricingArea from './PricingArea.vue';

export default {
  components: {
      DetailsArea,
      PricingArea
    },
    props: {
        property: Object,
    },
    computed: mapState({
        properties: state => state.properties.all,
        count: state => state.properties.count
    }),
    methods: {
      ...mapActions('property', [
        'getAllProperties'
      ]),
      formatMoneyNumber(num, currency = "EUR") {
        return new Intl.NumberFormat("en-IE", { style: "currency", currency }).format(
          num
        )
      }
    },
    created () {
        this.getAllProperties();
    }
}
</script>

<style scoped>
.property-card {
  width: 90%;
  max-width: 1100px;
  background-color: white;
  border-radius: 3px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.05),
    0 2px 2px rgba(0, 0, 0, 0.05), 1px 4px 4px rgba(0, 0, 0, 0.1),
    1px 6px 8px rgba(0, 0, 0, 0.1), 2px 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100%;
  grid-template-areas: "photo details pricing";
}

.photo-container {
    height: 100%;
    position: relative;
    grid-area: photo;
}

.details { 
  grid-area: details;
}

.pricing { 
  grid-area: pricing;
}

.card-image {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 300px;
  height: 100%;
}

.photo-counter {
    position: absolute;
    color: white;
    bottom: 10px;
    right: 30px;
    font-weight: 600;
}

.mobile-only {
  display: none;
}


@media (max-width: 1200px) {
  .property-card {
    grid-template-columns: 225px 1fr 300px;
  }

  .card-image {
    width: 225px;
  }

}

@media (max-width: 900px) {
  .property-card {
    grid-template-columns: 150px 1fr 200px;
    font-size: 80%;
  }

  .card-image {
    width: 150px;
  }

}

@media (max-width: 700px) {
  .property-card {
    grid-template-columns: 150px 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: 
      "photo details"
      "photo pricing";
  }
}

</style>