<template>
  <div class="details-section">
    <div class="top-section">
      <div class="type-text-area">{{property.type}}</div>
      <div><span class="name-text-area">{{property.name}}</span><span v-if="property.isFeatured" class="featured-text-area">FEATURED</span></div>
      <div v-if="property.distanceToCCDesc"><span class="distance-text-area">{{property.distanceToCCDesc}}</span><span class="show-map-text">Show on Map</span></div>
      <div><span class="free-thing-area" v-if="property.freeWifi">Free Wifi</span><span class="free-thing-area" v-if="property.breakfastIncluded">Free Breakfast</span></div>
    </div>
    <div class="bottom-section">
      <span class="review-score">{{property.overallRating.overall/10}}</span>
      <span class="number-of-reviews">{{numberWithCommas(property.overallRating.numberOfRatings)}} Total Reviews</span>
    </div>
  </div>
</template>


<script>

export default {
    props: {
        property: Object,
    },
    methods: {
        numberWithCommas(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    }
}
</script>

<style scoped>
.details-section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
}

.details-section:hover {
    cursor: pointer;
}

.top-section {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-gap: 10px;
}

.type-text-area {
    color: var(--light-text-color);
}

.name-text-area {
    font-weight: 600;
}

.distance-text-area {
    color: var(--light-text-color);
}

.featured-text-area {
    color: var(--button-color);
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.8rem;
}

.show-map-text {
    color: var(--button-color);
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.8rem;
}

.show-map-text:hover {
    cursor: pointer;
}

.free-thing-area {
    color: rgba(80, 134, 192, 1);
    padding-right: 10px;
}

.bottom-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.review-score {
    padding: 5px;
    margin-right: 15px;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    background-color: var(--button-color);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.number-of-reviews {
    color: var(--button-color);
}
</style>