<template>
  <div class="property-list">
    <Card v-for="property in properties.slice(0, elementsToLoad)" :property="property" v-bind:key="property.id"/>
  </div>
</template>


<script>
import Card from "./Card.vue";
import { mapState } from 'vuex'
export default {
    components: {
      Card
    },
    data: () => {
      return {
        elementsToLoad: 10
      }
    },
    computed: mapState({
        properties: state => state.property.properties,
        count: state => state.property.propertyCount
    }),
    created () {
      let that = this;
      window.onscroll = function(ev) {
          if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
              that.elementsToLoad += 10;
          }
      };
    }
}
</script>

<style scoped>
.property-list {
  display: flex;
  flex-direction: column;
}
</style>