<template>
  <div class="pricing-section">
      <div class="privates-area">
        <div v-if="property.lowestPrivatePricePerNight">
          <div class="descriptive-text">Privates From</div>
          <div class="money-text">{{this.formatMoneyNumber(property.lowestPrivatePricePerNight).split('.')[0]}}</div>
        </div>
        <div v-else class="descriptive-text">
          No Privates Available
        </div>
      </div>
      <div class="dorms-area">
        <div v-if="property.lowestDormPricePerNight">
          <div class="descriptive-text">Dorms From</div>
          <div class="money-text">{{this.formatMoneyNumber(property.lowestDormPricePerNight).split('.')[0]}}</div>
        </div>
        <div v-else class="descriptive-text">
          No Privates Available
        </div>
      </div>
      <div class="view-button-area">
        <button class="view-button">View</button>
      </div>
    </div>
</template>


<script>
export default {
    props: {
        property: Object,
    },
    methods: {
      formatMoneyNumber(num, currency = "EUR") {
        return new Intl.NumberFormat("en-IE", { style: "currency", currency }).format(
          num
        )
      }
    }
}
</script>

<style scoped>
.pricing-section {
  height: 100%;
  margin: 0px 0px;
  border-left: 2px solid rgba(243, 244, 246, 1);
  display: grid;
  grid-template-columns: calc(50% - 10px), calc(50% - 10px);
  grid-template-rows: 66% 34%;
  grid-template-areas: 
    "privates dorms"
    "view view";
}

.privates-area {
  grid-area: privates;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dorms-area {
  grid-area: dorms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-button-area {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: view;
}

.descriptive-text {
  color: var(--light-text-color);
}

.money-text {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.view-button {
  border: none;
  background-color: var(--button-color);
  width: 80%;
  height: 35px;
  border-radius: 3px;
  color: white;
  font-size: 1.15rem;
  font-weight: 600;
}

.view-button:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

@media (max-width: 700px) {
  .view-button-area {
    display: none;
  }
}

</style>