<template>
  <div class="app-container">
    <List />
  </div>
</template>


<script>
import List from "./Components/List.vue";
import { mapActions } from 'vuex'

export default {
  components: {
    List
  },
  methods: mapActions('property', [
    'getAllProperties'
  ]),
  created () {
    this.getAllProperties();
  }
};
</script>

<style scoped>

.app-container{
  font-family: 'Noto', Helvetica, Arial, sans-serif;
  width: 100%;
  --light-text-color: #777;
  --button-color: rgba(255, 117, 71, 1);
  --button-hover-color: rgba(255, 98, 46, 1);
}
</style>